---
name: CI

on:
  push:
  pull_request:
    branches:
      - master

jobs:

  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Lint Code Base
        uses: github/super-linter@v3.14.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ANSIBLE_DIRECTORY: /

  molecule:
    needs: lint
    name: Molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ansible:
          - "ansible==2.9.*"
          - "ansible-base==2.10.*"
        distro:
          - centos7
          - centos8
          - debian9
          - debian10
          - ubuntu1804
          - ubuntu2004

    steps:
      - name: Check out the codebase
        uses: actions/checkout@v2

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install test dependencies
        run: |
          pip3 install ${{ matrix.ansible }} ansible-lint molecule[docker] docker \
            flake8 pytest pytest-testinfra

      - name: Run Molecule tests
        run: molecule test -s ${{ matrix.distro }}
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
